<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="4 hours">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%X{}], %d{HH:mm:ss.SSS}, [%thread], %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/boottest1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/boottest1.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%X{}], %date{dd/MM/yyyy; HH:mm:ss.SSS} %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:5000</destination>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc />
                <timestamp />
                <message />
                <loggerName />
                <logLevel />
                <threadName />
                <stackTrace />
                <logstashMarkers />
                <pattern>
                    <pattern>
                        {
                        "serviceName": "customer-service"
                        }
                    </pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="MAIN" />
        <appender-ref ref="STASH" />
    </root>

</configuration>
